.footer{
    position: relative;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    height: 30vh;
    background: #DA0037;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.footer a{
    color:#171717;
    margin: 20px 10px;
    text-decoration: none;
}