.header h1{
    color: #dfdfdf;
    letter-spacing:1.5px;
    font-size: 87px;
    font-family: sans-serif;
    text-align: center;
}
div.header{
    position: relative;
    width: 165px;
    height: auto;
    padding-top: 20vw;
    padding-left: 15vw;
    text-align: center;
    align-items: center;
}
