.myname p.main{
    position: relative;
    color: #EDEDED;
    font-size: 48px;
    
}
.myname p.main::before{
    position: absolute;
    content: '';
    top: 100%;
    width: 140px;
    height: 3px;
    background: #ffffff;
}
.myname p.main::after{
    position: absolute;
    content: '';
    top: 111%;
    width: 110px;
    height: 3px;
    background: #ffffff;
}
p.sub{
    margin-top: 1.5em;
    padding-left: 7px;
    width: 200px;
    font-size: 17px;
    color: #EDEDED;
}
.myname{
    width: 200px;
    padding-top: 40%;
    padding-left: 10%;
}