div.navbottun{
    padding:0;
}
.navbottun p{
    text-decoration: none;
    width: 120px;
    color: #EDEDED;
    font-size: 20px;
    transition: all .3s;
}
.navbottun p:active{
    color: #10646f;
}