.App{
  width: 100%;
  background: #171717;
}
nav,.squea{
  position: fixed;
}
nav{
  top: 30px;
  display: flex;
  z-index: 999;
}
.squea{
  top: 14%;
  left: 60.5%;
  width: 125px;
  height: 530px;
  background: #444;
  z-index: 1;
}