.App{
  width: 100%;
  background: #000000;
}
body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
nav{
  position: fixed;
  top: 30px;
  margin-left: 10%;
  justify-content: space-between;
  width: 150px;
  display: flex;
  z-index: 999;

}
